.rvmrc
._
haz_var.txt
update-local-installs.rb
dev-notes.md
cruft
lua/com.neurogami.NewFromTemplate.xrnx/config.xml
osc-repl-*
tasks
known-to-work*
__*
lua/com.neurogami.LoopComposer.xrnx/notes.md
dist/
demo-songs/
