.rvmrc
tool-notes.md
ideas.md
._
haz_var.txt
update-local-installs.rb
dev-notes.md
cruft
lua/com.neurogami.NewFromTemplate.xrnx/config.xml
osc-repl-*
tasks
known-to-work*
__*
lua/com.neurogami.LoopComposer.xrnx/notes.md
dist/
demo-songs/
201608_Notes_on_mapping_OSC_to_track_devices.md
NumPadTouchOsc.touchosc
RENOISE_API_TREE.txt
ReportSampleSong.xml
SAMPLE_LISTER.rb
XRNS_REPORT.rb
_copy-retempo.bat
_experi.lua
_gainer-mapping.rb
_loopcomposer.bat
_report-test.bat
_song.xml
control/
instrument-experiments/
lua/com.neurogami.Conscripter.xrnx/
lua/com.neurogami.FreshInstrument.xrnx/
lua/com.neurogami.Mixtor.xrnx/
lua/com.neurogami.OscJumper.xrnx/README.md.start
lua/com.neurogami.OscJumper.xrnx/config.xml
lua/com.neurogami.OscJumper.xrnx/pattern_docs.rb
lua/com.neurogami.OscJumper.xrnx/preferences.xml
lua/com.neurogami.RawMidi2.xrnx/
lua/com.neurogami.RenderVersion.xrnx/
lua/com.neurogami.Retempo.xrnx/Retempo/Utilities.lua
lua/com.neurogami.State.xrnx/
lua/extra-stuff/
lua/haz_vars.txt
lua/extra-stuff/
lua/haz_vars.txt
lua/ng-shared/
new-gen-notes.md
notes-on-xrns-report.md
osc-rov-server.rb
osc-server.rb
oscripts/
snippets/
song.rb
status-inknown/
to_hex.rb
what-version-is-this-xrns/
